  <!-- <div class="footer mx-auto w-50">
    <p>@ Express  Inc 2022</p>
    </div>
    <div class="d-flex">
        <p class="text-dark px-2">About</p>
        <p class="text-dark px-2">contact</p>
        <p class="text-dark px-2">hiring</p>
        <p class="text-dark px-2">Goals</p>
        <p class="text-dark px-2">Express Nexus</p>
    </div> -->

  <footer class="footer  py-3 bg-light">
      <span class="text-secondary text-center">express Inc @ 2022</span>
  </footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
