  <!-- nav -->
  <nav class="navbar border-bottom shadow-sm">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center"><img src="https://www.reshot.com/preview-assets/icons/3XKNZSW6RY/js-3XKNZSW6RY.svg" class="img-fluid" height="auto" width="80em" alt=""> <b class="fw-bold text-white fs-3 text">Express - B</b></a>
      <form class="d-flex ul-list">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create">create Blog</a>
          </li>
          <li class="nav-item">
          <a  class="nav-link" href="https://github.com/namkatcedrickjumtock"><i class="bi bi-github"></i></a>
          </li>
      </form>
    </div>
  </nav>