  <!-- nav -->
  <nav class="navbar border-bottom"">
    <div class="container">
      <a class="navbar-brand"><img src="https://www.reshot.com/preview-assets/icons/3XKNZSW6RY/js-3XKNZSW6RY.svg" class="img-fluid" height="auto" width="80em" alt=""> <b class="fw-bold text-secondary fs-3 text">Express</b></a>
      <form class="d-flex">
        <ul class="nav text-decoration-none">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blogs/create">create Blog</a>
          </li>
      </form>
    </div>
  </nav>