<%- include('./partials/head.ejs')  %> 

  <body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="404-content">
        <h4 class="text-center">404 page</h4>
    </div>



  <%- include('./partials/footer.ejs')  %> 

   
  </body>
</html>
