<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%=title%></title>
    <link rel="icon" href="https://www.reshot.com/preview-assets/icons/3XKNZSW6RY/js-3XKNZSW6RY.svg">

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"/>
  </head>
  <body>
    <%- include('./partials/head.ejs')  %> 


    <div class="404-content container my-4">
        <h4 class="text-center">About us</h4>
        <p>This template makes use of large images in a modern layout to break up the ample white space. The result: A clean and enjoyable reading experience. The top of the page puts the brand story (or other introductory text) first, supported by a large image that speaks for itself. The pops of color can be customized to your brand style, drawing emphasis to the most important elements you want to highlight.</p>
    </div>
    
    
    <%- include('./partials/footer.ejs')  %> 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
~
