<%- include('./partials/head.ejs')  %> 
  <body>
    <%- include('./partials/nav.ejs')  %> 


    <div class="404-content container my-4">
        <h4 class="text-center fw-bold text-uppercase">About us</h4>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-lg-6">
            <p class="text-secondary fw-normal py-5">This template makes use of large images in a modern layout to break up the ample white space. The result: A clean and enjoyable reading experience. The top of the page puts the brand story (or other introductory text) first, supported by a large image that speaks for itself. The pops of color can be customized to your brand style, drawing emphasis to the most important elements you want to highlight.</p>
          </div>
          <div class="col-xs-12 col-md-8 col-lg-6">
              <img src="../img/about-us.png"  alt="">
            </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-lg-6">
            <img src="../img/search.png"  class="img-fluid" alt="">
</div>
          <div class="col-xs-12 col-md-8 col-lg-6 my-5  mt-5">
            This template makes use of large images in a modern layout to break up the ample white space. The result: A clean and enjoyable reading experience. The top of the page puts the brand story (or other introductory text) first, supported by a large image that speaks for itself. The pops of color can be customized to your brand style, drawing emphasis to the most important elements you want to highlight.</p>
         <a href="/blogs/create">
          <button class="btn btn-outline-primary mx-auto d-block w-25 my-5">Start</button>
         </a>
            </div>

    </div>
    
    
    <%- include('./partials/footer.ejs')  %> 
  </body>
</html>
