<%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs')  %> 
<div class="container">

  <h4 class="text-center fw-bold text-uppercase">contact us</h4>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-lg-9">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3979.3351823254025!2d9.25666441416613!3d4.154338296979585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1061337273372969%3A0xf22accc790388517!2sMountainHub!5e0!3m2!1sen!2scm!4v1657238436994!5m2!1sen!2scm" width="800" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-xs-12 col-md-8 col-lg-3">
      <p>Molyko Buea, Great Soppo 1 trust building Top floor</p>
      <p>TEl: +237 63738362</p>
      <p>email: contacthub@gmail.com</p>
    </div>
  </div>
</div>

    <%- //include('./partials/footer.ejs') %>
  </body>
</html>
