<%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs')  %> 


    <section class="container mx-auto py-4 my-5">
      <form action="/blogs" method="post">
        <div class="form-floating mb-3">
          <input
            name="title"
            type="text"
            class="form-control shadow-none"
            placeholder="Blog Heading"
            required
          />
          <label for="floatingInput">Title</label>
        </div>
        <div class="form-floating">
          <input
            type="text"
            class="form-control shadow-none"
            placeholder="blog snippet"
            name="snippet"
            required
          />
          <label for="floatingPassword">Blog snippet</label>
        </div>
        <div class="form-floating py-2">
          <textarea
            class="form-control shadow-none"
            required
            style="height: 150px"
            placeholder="Leave a comment here"
            id="floatingTextarea"
            name="body"
          ></textarea>
          <label for="floatingTextarea">blog body</label>
        </div>
        <button
          class="btn btn-outline-primary mx-auto d-block w-25 my-2 shadow-none"
          type="submit"
        >
          save
        </button>
      </form>
    </section>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
