<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    
<div class="container">
    <h4> <%  %> </h4>
</div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>