body {
  font-family: "Nunito", sans-serif;
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}

h4 {
  margin: 20px 0px;
}
p {
  font-family: "Nunito", sans-serif;
  color: #0000009e;
}
nav{
  background-color: #020538;
}
.ul-list ul li{
  list-style: none;
}
.ul-list ul li:hover{
  border-radius: 20px;
  color: #ffff;
  background-color: #ffffff31;
}
.ul-list ul li a{
  color: #ffffff9e;
}
.ul-list ul li a:hover{
  color: #fff;
}
a{
  text-decoration: none;
}
.card-footer{
  position: fixed;
}

/* responsiveness */
@media (min-width: 576px) { 

}
